@using SmartElectronicsApi.Mvc.ViewModels.Auth
@using SmartElectronicsApi.Mvc.ViewModels.pagination
@model PaginatedResponseVM<UserGetVm>

<div class="table-responsive mb-4">
    <table class="table">
        <thead>
            <tr>
                <th>ImageAndUserName</th>
                <th>Email</th>
                <th>IsBlocked</th>
                <th>CreatedTime</th>
                <th>PhoneNumber</th> <!-- New column for actions -->
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr class="UserTable" data-id="@item.Id">

                    <td>
                        <img src="@(item.Image != "http://localhost:5246/img/" ? item.Image : Url.Content("~/assets/img/default.jpg"))" class="me-2" alt="image"> @item.UserName
                    </td>
                    <td> @item.Email </td>
                    <td>
                        @if (!item.IsBlocked)
                        {
                            <label class="badge badge-gradient-success">Active</label>
                        }
                        else
                        {
                            <label class="badge badge-gradient-danger">Blocked</label>
                        }
                    </td>
                    <td>@item.CreatedTime</td>
                    <td>@item.PhoneNumber</td>
                    <td>
                        <!-- Dropdown for actions -->
                        <div class="dropdown">
                            <a class="btn btn-sm btn-light" href="#" role="button" id="dropdownMenuLink-@item.Id" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i> <!-- Three dots icon -->
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink-@item.Id">
                                <li><a class="dropdown-item" href="#">View Details</a></li>
                                <li><a class="dropdown-item" asp-action="ChangeStatus" asp-controller="User" asp-route-id="@item.Id">ChangeStatus</a></li>
                                <li><a class="dropdown-item" asp-action="UpdateRoles" asp-controller="Role" asp-route-id="@item.Id">Update Roles</a></li>

                                <a class="dropdown-item text-danger" onclick='deleteItemUser("@item.Id")'>Delete</a>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PageNumber - 1, pageSize = Model.PageSize })" tabindex="-1">Previous</a>
        </li>

        @for (int i = 1; i <= Math.Ceiling((double)Model.TotalRecords / Model.PageSize); i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { pageNumber = i, pageSize = Model.PageSize })">@i</a>
            </li>
        }

        <li class="page-item @(Model.PageNumber == Math.Ceiling((double)Model.TotalRecords / Model.PageSize) ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PageNumber + 1, pageSize = Model.PageSize })">Next</a>
        </li>
    </ul>
</nav>
@if (TempData["BanningError"] != null)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: ' Failed',
            text: ' @TempData["BanningError"]',
            showConfirmButton: true,
        });
    </script>
}
